body{
background-color: black;
}

.box{
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    
    
    padding-left: 10%;
    padding-right: 10%;
}

.buttons{
    display: flex;
    justify-content: center;
    
}

button{
    height: 150px;
    width: 150px;
    
    margin: 10px;

    font-size: 80px;
    border-radius: 12px;
    border-style: solid;
    background-color: black;
    border: 0px;
}

button:active{
    transform:scale(2)
}

button:hover{
    transform: scale(1.1);
}
.results{
    text-align: center;
    color: white;

    margin: 15px;
}
.score{
    color: white;
    display: flex;
    justify-content: space-around;
    
    padding: 15px;
    
}
.title{
    color: white;
    text-align: center;
    padding: 30px;
    font-size: xx-large;
    font-weight: 900;
}